
body{
    background-color: #F6F6E9;
    
    background-repeat: no-repeat;
}
.retangulo{
    width: 100%;
    height: 100%;
    left: 100%;
    bottom: 100%;
    top: 100%;    
    }
.ok{
    display: flex;
   justify-content: space-around;
    
   width:100%;
   height: 50%;
}
.ok2{
    height: 20%;
    
}
.logo-login{
    display: flex;
    flex-direction: column;
   justify-content: center;
}
.logo{
    width: 57%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo img{
/* Group 72 */


width: 50%;
height: 50%;


}
.bolinhas-noite {
display: flex;
flex-direction: column;
}
.bolinhas{
    width: 70%;
    height: 40%;
}
.noite{
    width: 70%;
    height: 40%;
}
.inputs{
    display: flex;
    flex-direction: column;
}
.email input{
width: 60%;
height: 20px;
background: #D2A3FF;
border-radius: 10px;
margin-bottom: 13px;
}
.senha input{
    width: 60%;
    height: 20px;
    background: #D2A3FF;
    border-radius: 10px;
    
    }
.inputs ::placeholder{
    color: white;
}
.email ::placeholder{
    padding-left: 40%;
}

.senha ::placeholder{
    padding-left: 39%;
}

.logar input{

width: 20em;
height: 6em;

background: #A363E0;
border-radius: 160px;

}
.input [type=submit] ::placeholder {
    color: white;
    font-family: MODERNA;
    }