body{
    background-color: #F6F6E9;
    background-image: url('../imgs/Rectangle\ 43.svg');
}
.ok{
    display: flex;
}
.logo{
/* Group 72 */


width: 250px;
height: 257px;
left: 290px;
top: 15px;
 margin-left: 23%;
}
.bolinhas{
/* Group 66 */

width: 73.46px;
height: 60px;
left: 1292px;
top: 61px;
}